.navbar {
  justify-content: space-between;
  background-color: rgb(255, 230, 0);
}
a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  margin: 10px 10px;
}
.mat-display-3 {
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 3px 3px #0c0c0c;
}
form,
span {
  padding: 10px 20px;
}
.space {
  flex: 1 1 auto;
}
.btn {
  margin-right: 20px;
  padding: 5px;
}
