* {
  font-family: serif;
  font-size: 18px;
}
label {
  color: black;
  text-transform: uppercase;
}
.wrapper {
  padding: 10px;
  background: linear-gradient(black, rgb(255, 230, 0), lightyellow);
  margin-top: 10px;
}
input {
  margin-bottom: 5px;
}
#title {
  font-size: 30px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: black;
  -webkit-text-stroke: 0.5px white;
  text-shadow: 0px 3px 3px black;
}
#btn {
  background-color: darkorange;
  color: black;
}
.btn {
  margin-left: 520px;
}
.backG {
  margin: 100px;
  background: linear-gradient(lightyellow, rgb(255, 230, 0), lightyellow);
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: ridge;
}
