mat-sidenav-container {
  height: 100%;
}
mat-sidenav {
  padding: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 300px;
  background-color: lightyellow !important;
  font-weight: bold;
  font-size: 20px;
}
