.wrapper {
  background: linear-gradient(black, rgb(255, 230, 0), lightyellow);
  margin: 20px;
  padding: 10px;
  font-size: 30px;
  font-family: "serif";
  text-align: center;
  margin-top: 80px;
}
.mat-card-content {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mat-display-3 {
  color: black;
  text-align: center;
  -webkit-text-stroke: 0.5px white;
  text-shadow: 0px 3px 3px rgb(255, 230, 0);
}
.mat-card {
  background-color: white;
  color: black;
  height: 300px;
  width: 1200px;
  margin-left: 45px;
  margin-top: 20px;
}
.mat-card-image {
  width: 200px;
  height: 250px;
  border-style: ridge;
}
mat-label {
  color: black;
}
.total {
  color: chocolate;
}

#name {
  padding: 10px;
  margin: 5px;
  color: black;
  line-height: normal;
  width: 100%;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 0px 3px 3px rgb(134, 132, 106);
  font-size: 30px;
}
a {
  margin: 10px;
  padding: 5px;
  background-color: rgb(255, 230, 0);
  color: black;
  text-decoration: none;
}
mat-sidenav-container {
  height: 100%;
  background: linear-gradient(black, rgb(255, 230, 0), lightyellow);
}
::ng-deep .mat-grid-tile .mat-figure {
  height: 300px !important;
}
