* {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

mat-card {
  background-color: white;
  color: black;
  border-style: groove;
}

mat-card-title {
  padding-bottom: 5px;
  font-weight: bold;
}

mat-card-actions {
  padding-bottom: 15px;
  margin: 5px;
}

img {
  border-bottom-style: ridge;
  border-top-style: ridge;
}
.card-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 250px;
  height: 410px;
}
  